<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="GUI_QLBanHang.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<userSettings>
		<GUI_QLBanHang.Properties.Settings>
			<setting name="Email" serializeAs="String">
				<value />
			</setting>
			<setting name="Password" serializeAs="String">
				<value />
			</setting>
			<setting name="isSave" serializeAs="String">
				<value>False</value>
			</setting>
		</GUI_QLBanHang.Properties.Settings>
	</userSettings>
	<connectionStrings>
		<!--<add name="QLBH" connectionString ="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DBQLBanHang.mdf;Integrated Security=True" />-->
		<add name="QLBH" connectionString ="Server=.\sqlexpress;Database=DBQLBanHang;Trusted_Connection=True;Integrated Security=True;" />
		<!--<add name="QLBH" connectionString ="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=D:\workspace\projects\QLBanHang\Database\DBQLBanHang.mdf;Integrated Security=True"/>-->
	</connectionStrings>
</configuration>