<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="QLBH" connectionString ="Server=DESKTOP-T24DE9U;Database=DBQLBanHang;Trusted_Connection=True;Integrated Security=True;" />
	</connectionStrings>
</configuration>